# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build dir
build/
CMakeFiles/
Testing/
x64/

.vscode/
src/lib/Catch2

cmake_install.cmake
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
DartConfiguration.tcl
tests_include-b12d07c.cmake
tests
tests_tests-b12d07c.cmake
main
src/lib/Catch2/*
src/lib/Catch2
Makefile
callgrind.out.*

benchmark/dataset/
benchmark/results/

/data/ogbl-collab/.venv/*
/data/connec/*
/data/mst/*
/data/incremental_mst.txt
src/lib/Catch2